<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xmlns:p="http://www.springframework.org/schema/p"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="
        http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd
        http://www.springframework.org/schema/mvc
        http://www.springframework.org/schema/mvc/spring-mvc.xsd">

	<!-- 自动扫描且只扫描 @Controller -->
	<context:component-scan
		base-package="online.shixun.project" use-default-filters="false">
		<context:include-filter type="annotation"
			expression="org.springframework.stereotype.Controller" />
		<context:include-filter type="annotation"
			expression="org.springframework.web.bind.annotation.ControllerAdvice" />
	</context:component-scan>

	<!-- 指定视图解析的一些内容 -->
	<bean
		class="org.springframework.web.servlet.view.InternalResourceViewResolver">
		<!-- 将默认的视图文件存放路径定义在 /WEB-INF/views/ 这里了 -->
		<property name="prefix" value="/WEB-INF/views/" />
		<!-- 将默认的视图文件定义成了 .jsp -->
		<property name="suffix" value=".jsp" />
	</bean>
	
	<bean
		id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
		
        <property name="defaultEncoding" value="UTF-8"></property>		<!--请求的编码格式-->
        <property name="maxUploadSize" value="102400000"></property>	<!--文件最大大小(字节) 1024*1024*50=50M-->
        <property name="resolveLazily" value="true"/>			<!--resolveLazily属性启用是为了推迟文件解析，以便捕获文件大小异常-->
        <property name="uploadTempDir" value="upload"></property>		<!--指定上传文件的临时文件夹，请在项目中创建好目录。-->
    </bean>

	<!-- 构建一个默认的 Serlvet 来额外的处理一切静态资源 -->
	<mvc:annotation-driven />
	<mvc:default-servlet-handler />
	<mvc:resources mapping="/images/**" location="/images/"/>

	<!-- 解决ResponseBody返回乱码 -->
	<mvc:annotation-driven>
		<mvc:message-converters
			register-defaults="true">
			<bean class="online.shixun.project.util.spring.UTF8StringHttpMessageConverter" />
		</mvc:message-converters>
	</mvc:annotation-driven>

</beans>